@font-face {
  font-family: noto-lt;
  src: url(./font/NotoSerifJP-Light.otf);
}

@font-face {
  font-family: noto-md;
  src: url(./font/NotoSerifJP-Medium.otf);
}

@font-face {
  font-family: noto-bd;
  src: url(./font/NotoSerifJP-Bold.otf);
}

@font-face {
  font-family: cormo;
  src: url(./font/CormorantGaramond-Medium.ttf);
}

body {
  background-color: #edede8;
}

.web-btn {
  width: 176px;
  margin-left: auto;
  border-bottom: 1px solid #6161531b;
}

.web-btn .btn-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 40px;
}

.web-btn .btn-inner small {
  width: 75%;
  color: #616153;
  letter-spacing: 2px;
  line-height: 40px;
}

.web-btn .btn-inner div {
  width: 25%;
  background-color: #616153;
}

.nav-area {
  height: 100vh;
  width: 70px;
  background-color: #edede8;
  position: fixed;
  right: 0;
  z-index: 1000;
  margin-right: 15px;
}

.nav-area .nav-logo {
  width: 100%;
  margin-top: 40px;
}

.nav-area .nav-item {
  color: #101111;
  font-family: noto-bd;
  font-size: 0.5rem;
  text-align: center;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  margin: 30px auto;
  border-left: 0px solid #101111;
}

.nav-area .nav-item:hover {
  cursor: pointer;
  border-left: 1px solid #101111;
}

.kv-content {
  height: 100vh;
  padding-left: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 0;
}

.kv-content img {
  width: 60%;
  height: 100%;
}

.kv-content .kv-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10%;
  padding-top: 200px;
}

.kv-content .kv-title h1 {
  color: #616153;
  font-family: noto-bd;
  letter-spacing: 1vw;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

.kv-content .kv-title p {
  color: #616153;
  font-family: noto-md;
  letter-spacing: 1vw;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

.kv-content .kv-title-en {
  position: absolute;
  padding-bottom: 90px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: left;
          transform-origin: left;
  opacity: 0.6;
}

.kv-content .kv-title-en span {
  font-family: cormo;
  color: #fff;
  margin: 0;
  line-height: 6vw;
  font-size: 6vw;
  display: block;
}

.main {
  padding: 100px 15%;
}

.main .notice {
  margin-bottom: 200px;
}

.main .notice h4 {
  color: #616153;
  font-family: noto-md;
  margin-bottom: 30px;
  letter-spacing: 0.2rem;
}

.main .notice .notice-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .notice .notice-wrapper .notice-card {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 10px;
}

.main .notice .notice-wrapper .notice-card img {
  width: 100%;
  margin-bottom: 10px;
}

.main .notice .notice-wrapper .notice-card div {
  margin-bottom: 5px;
  color: #616153;
  font-size: 0.5rem;
  font-weight: 300;
  font-family: sans-serif;
  letter-spacing: 1px;
}

.main .notice .notice-wrapper .notice-card span {
  font-weight: 400;
}

.main .introduce {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .introduce .title {
  width: 30%;
  color: #616153;
  font-family: noto-lt;
  letter-spacing: 5px;
  margin-right: 150px;
  margin-left: 0;
  line-height: 60px;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

.main .introduce p {
  color: #616153;
  font-weight: 200;
  text-align: justify;
  line-height: 30px;
}

.introduce-img {
  padding-right: 15%;
  position: relative;
  margin-bottom: 300px;
}

.introduce-img .img1 {
  width: 60%;
  height: 80vh;
  background-image: url("./img/b-concept_photo_02.jpg");
  background-repeat: no-repeat;
  background-size: 60%;
  background-attachment: fixed;
}

.introduce-img .img2 {
  width: 30%;
  height: 80vh;
  margin-top: -100px;
  margin-left: auto;
  background-image: url("./img/b-concept_photo_01.jpg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 60%;
  background-attachment: fixed;
}

.introduce-img .img3 {
  width: 30%;
  height: 80vh;
  margin-top: -300px;
  margin-left: 30%;
  background-image: url("./img/b-concept_photo_03.jpg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 60%;
  background-attachment: fixed;
}

.shop {
  padding: 100px 15%;
}

.shop .shop-list h1 {
  color: #616153;
  font-family: noto-lt;
  margin-bottom: 40px;
  letter-spacing: 5px;
}

.shop .shop-list p {
  color: #616153;
  font-weight: 200;
  text-align: justify;
  line-height: 30px;
  margin-bottom: 40px;
}

.shop .shop-list-box {
  width: 100%;
  height: 100px;
  background-color: #f4f4ef;
  border: 1px solid #e1e1ce;
}

.shop .shop-list-box p {
  color: #616153;
  font-family: noto-lt;
  text-align: center;
  line-height: 100px;
  letter-spacing: 5px;
}

.shop-list-img {
  width: 90%;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 100px auto;
  position: relative;
  background-image: url(./img/b-shop_img_cloud_03.png), url(./img/b-shop_img_cloud_04.png), url(./img/b-shop_img_cloud_04.png), url(./img/b-shop_img_bird.png), url(./img/b-shop_img_bg.png);
  background-repeat: no-repeat,no-repeat;
  background-position: 12% 32% ,80% 70%,20% 40%,80% 30%,80% 0;
  background-size: 20% ,20%,25%,10%,100%;
  background-attachment: fixed;
}

.shop-list-img img {
  width: 60%;
  margin: 50px 0;
}

.shop-list-img .rect-wrap {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 0;
  right: 10%;
}

.shop-list-img .rect-wrap .shop-ract {
  width: 50px;
  height: 200px;
  margin-right: 10px;
  background-color: #f4f4ef;
  border: 1px solid #e1e1ce;
}

.shop-list-img .rect-wrap .shop-ract p {
  color: #616153;
  font-family: noto-md;
  margin: 50% auto;
  text-align: center;
  letter-spacing: 0.5rem;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

.shop-list-img .rect-wrap .shop-ract:hover {
  background-color: #616153;
  cursor: pointer;
}

.shop-list-img .rect-wrap .shop-ract:hover p {
  color: #f4f4ef;
}

.shop-list-img .rect-wrap2 {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 10%;
}

.shop-list-img .rect-wrap2 .shop-ract2 {
  width: 50px;
  height: 200px;
  margin-right: 10px;
  background-color: #f4f4ef;
  border: 1px solid #e1e1ce;
}

.shop-list-img .rect-wrap2 .shop-ract2 p {
  color: #616153;
  font-family: noto-md;
  margin: 50% auto;
  text-align: center;
  letter-spacing: 0.5rem;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

.shop-list-img .rect-wrap2 .shop-ract2:hover {
  background-color: #616153;
  cursor: pointer;
}

.shop-list-img .rect-wrap2 .shop-ract2:hover p {
  color: #f4f4ef;
}

.work-shop {
  margin-top: 400px;
  padding: 0 50px;
  position: relative;
}

.work-shop img {
  width: 100%;
}

.work-shop .work-shop-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  padding: 0 35%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work-shop .work-shop-content h1 {
  color: #616153;
  font-family: noto-lt;
  letter-spacing: 2px;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  margin-bottom: 50px;
}

.work-shop .work-shop-content p {
  color: #616153;
  font-weight: 200;
  text-align: justify;
  line-height: 30px;
}

.work-shop .work-shop-img1 {
  overflow: hidden;
  width: 20%;
  height: 70vh;
  position: absolute;
  bottom: -30%;
  left: 5%;
}

.work-shop .work-shop-img2 {
  overflow: hidden;
  width: 20%;
  height: 70vh;
  position: absolute;
  top: -30%;
  right: 5%;
}

.info {
  padding: 100px 15%;
  margin-top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info h3 {
  color: #616153;
  font-family: noto-lt;
  width: 80%;
}

.info img {
  width: 40%;
  padding-bottom: 20px;
}

.info .info-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  border-top: 1px solid #6161531b;
}

.info .info-box strong {
  width: 20%;
  color: #616153;
  font-size: 0.5rem;
  font-weight: 900;
}

.info .info-box small {
  color: #616153;
  font-weight: 200;
  text-align: justify;
  line-height: 30px;
}

.info .info-box span {
  font-weight: 900;
}

.near-by {
  padding: 100px 15%;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #6161531b;
}

.near-by h3 {
  color: #616153;
  font-family: noto-lt;
  width: 80%;
}

.near-by img {
  width: 100%;
  margin-bottom: 20px;
}

.near-by h5 {
  color: #616153;
  font-family: noto-md;
}

.near-by small {
  font-weight: 200;
  color: #616153;
  letter-spacing: 0.2rem;
}

.near-by .web-btn {
  margin-left: auto;
  margin-top: 50px;
}

.end {
  padding: 100px 15%;
}

.end .end-box {
  width: 100%;
  height: 150px;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f4f4ef;
  border: 1px solid #e1e1ce;
}

.end .end-box img {
  width: 20%;
  margin-right: 40px;
}

.end .end-box small {
  font-weight: 500;
  color: #616153;
}

.end .end-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.end .end-wrap .end-card {
  width: calc(100% / 4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 10px;
}

.end .end-wrap .end-card img {
  width: 100%;
  height: 100%;
}

.end .end-wrap .end-card strong {
  color: #616153;
  font-family: noto-md;
  font-size: 0.5rem;
  margin: 10px 0;
}

.end .end-wrap .end-card small {
  letter-spacing: 0.2rem;
  color: #616153;
}
/*# sourceMappingURL=index.css.map */